<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Category</th>
      <th>Default Price</th>
      <th>In Stock?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
