<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Identifying Name</th>
      <th>Display Name</th>
      <th>Active?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @properties %>
  </tbody>
</table>
